@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}
<br />
<h1><a href="https://localhost:44319/cms/alltext">Admin panel</a></h1>
<hr />

<img src="https://chainimage.com/images/homepage-nature-mountains-scenic-mountain-range-hd-wallpaper.jpg" />