@page
@model ContactModel
@{
  ViewData["Title"] = Model.PageTitle;
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
  Politechnika Wrocławska <br />
  Budynek C-3<br />
  Sala 201<br />
</address>

<hr />

<address>
  Wybrzeże Stanisława Wyspiańskiego 27,<br />
  50-370 <br />
  Wrocław<br />
</address>

<address>
  <strong>Kredek:</strong> <a href="mailto:knkredek@gmail.com">knkredek @@ gmail.com</a><br />
</address>
